.start,
.start .bts,
.start .decent,
.start .txtAt {
        -webkit-transition: all .4s;
        transition: all .4s
}

.start .bts,
.start .decent,
.start .txtAt {
        width: 100%
}

.end .bts,
.end .txtAt {
        display: inline-block!important
}

#confirmpassword,
#password {
        font-size: 12px;
        padding: .2rem
}

.red {
        color: #f01414
}

.green {
        color: #14f014
}

.error {
        font-size: .8125rem;
        font-style: italic;
        line-height: 17px;
        height: 17px
}

.btn {
        padding-left: 15px;
        padding-right: 15px;
}


.btn-bitshares {
        background: #00a9e0;
        color: #fff
}

.btn-bitshares.active,
.btn-bitshares:active,
.btn-bitshares:focus,
.btn-bitshares:hover,
.open>.dropdown-toggle.btn-bitshares {
        background: #00a9e0;
        outline: 0 none;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
}

.btn-bitshares.active,
.btn-bitshares:active {
        background: #00587c;
        outline: 0 none;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
}

.content {
        width: 100%
}

.start {
        height: 50%;
        padding: 1.5rem 2.5rem;
        -webkit-transition: all .2s;
        transition: all .2s
}

.start .bts,
.start .decent,
.start .txtAt {
        width: 100%;
        -webkit-transition: all .2s;
        transition: all .2s
}

#account {
        font-size: .875rem
}

.end {
        height: auto;
        padding: .5rem
}

.end .bts {
        width: 39%
}

.end .bts,
.end .txtAt {
        display: inline-block!important
}

.end .txtAt {
        font-size: 20px;
        width: 20%
}

.end .decent {
        width: 39%;
        display: inline-block!important
}

.checkbox {
        font-size: .8125rem
}

#confirmpassword,
#password {
        font-size: 12px;
        padding: .2rem
}

.introTxt {
        font-size: 15px;
        line-height: 1.3
}

.button-bts {
        margin-left: -13px;
        width: 83px;
        height: 35.75px;
        line-height: 18px
}

.gen-pass {
        white-space: nowrap;
        margin: 0 auto 0 80px;
}

@media only screen and (max-width: 360px) {
        .gen-pass {
                white-space: nowrap;
                margin: 0 auto 0 20px;
        }
    }

    @media only screen and (max-width: 370px) {
        .button-bts {
                margin-left: -13px;
                width: 53px;
                padding:0 !important;
                height: 35.75px;
                line-height: 18px
        }
    }

.show-next {
        margin-bottom: 30px
}

.terms {
        text-align: left;
        margin-top:17px;
}

.lds-hourglass {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 64px;
        height: 64px
}

.lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 26px solid #00a9e0;
        border-color: #00a9e0 transparent #00a9e0 transparent;
        -webkit-animation: lds-hourglass 1.2s infinite;
        animation: lds-hourglass 1.2s infinite
}

@-webkit-keyframes lds-hourglass {
        0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }
        50% {
                -webkit-transform: rotate(900deg);
                transform: rotate(900deg);
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }
        to {
                -webkit-transform: rotate(5turn);
                transform: rotate(5turn)
        }
}

@keyframes lds-hourglass {
        0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }
        50% {
                -webkit-transform: rotate(900deg);
                transform: rotate(900deg);
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }
        to {
                -webkit-transform: rotate(5turn);
                transform: rotate(5turn)
        }
}

#app[data-v-68037fbe] {
        max-width: 480px;
        margin: 30px auto;
        font-family: "Lato", Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        padding-bottom: 30px;
        border: solid;
        border-width: 1px;
        border-color: rgba(0,169,224, 0.7);
}

.nav-linb>a {
        color: rgba(0,169,224, 1);
}

img[data-v-68037fbe] {
        width: 200px
}

.generated-password, #confirmpassword {
    height: 36px;
}

   /*
       Minified css for signup form (/create-account)
   */
.input-group-sm>.form-control,.input-group-sm>.input-group-append>.btn,.input-group-sm>.input-group-append>.input-group-text,.input-group-sm>.input-group-prepend>.btn,.input-group-sm>.input-group-prepend>.input-group-text{height:calc(1.8125rem + 2px);padding:.25rem .5rem;font-size:.875rem;line-height:1.5;border-radius:.2rem}.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),.input-group>.input-group-append:not(:last-child)>.btn,.input-group>.input-group-append:not(:last-child)>.input-group-text,.input-group>.input-group-prepend>.btn,.input-group>.input-group-prepend>.input-group-text{border-top-right-radius:0;border-bottom-right-radius:0}.input-group>.input-group-append>.btn,.input-group>.input-group-append>.input-group-text,.input-group>.input-group-prepend:first-child>.btn:not(:first-child),.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),.input-group>.input-group-prepend:not(:first-child)>.btn,.input-group>.input-group-prepend:not(:first-child)>.input-group-text{border-top-left-radius:0;border-bottom-left-radius:0}.custom-control{position:relative;display:block;min-height:1.5rem;padding-left:1.5rem}.custom-control-inline{display:-ms-inline-flexbox;display:-webkit-inline-box;display:inline-flex;margin-right:1rem}.custom-control-input{position:absolute;z-index:-1;opacity:0}.custom-control-input:checked~.custom-control-label:before{color:#fff;background-color:#007bff}.custom-control-input:focus~.custom-control-label:before{-webkit-box-shadow:0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25);box-shadow:0 0 0 1px #fff,0 0 0 .2rem rgba(0,123,255,.25)}.custom-control-input:active~.custom-control-label:before{color:#fff;background-color:#b3d7ff}.custom-control-input:disabled~.custom-control-label{color:#6c757d}.custom-control-input:disabled~.custom-control-label:before{background-color:#e9ecef}.custom-control-label{position:relative;margin-bottom:0}.custom-control-label:before{pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#dee2e6}.custom-control-label:after,.custom-control-label:before{position:absolute;top:.25rem;left:-1.5rem;display:block;width:1rem;height:1rem;content:""}.custom-control-label:after{background-repeat:no-repeat;background-position:50%;background-size:50% 50%}.custom-checkbox .custom-control-label:before{border-radius:.25rem}.custom-checkbox .custom-control-input:checked~.custom-control-label:before{background-color:#007bff}.custom-checkbox .custom-control-input:checked~.custom-control-label:after{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")}.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:before{background-color:#007bff}.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:after{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E")}.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before{background-color:rgba(0,123,255,.5)}.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label:before{background-color:rgba(0,123,255,.5)}.position-sticky{position:-webkit-sticky!important;position:sticky!important}.fixed-top{top:0}.fixed-bottom,.fixed-top{position:fixed;right:0;left:0;z-index:1030}.fixed-bottom{bottom:0}@supports ((position:-webkit-sticky) or (position:sticky)){.sticky-top{position:-webkit-sticky;position:sticky;top:0;z-index:1020}}.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal}.shadow-sm{-webkit-box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important}.shadow{-webkit-box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}.shadow-lg{-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important}.shadow-none{-webkit-box-shadow:none!important;box-shadow:none!important}.w-25{width:25%!important}.w-50{width:50%!important}.w-75{width:75%!important}.w-100{width:100%!important}.w-auto{width:auto!important}.h-25{height:25%!important}.h-50{height:50%!important}.h-75{height:75%!important}.h-100{height:100%!important}.h-auto{height:auto!important}.mw-100{max-width:100%!important}.mh-100{max-height:100%!important}.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:.25rem!important}.mt-1,.my-1{margin-top:.25rem!important}.mr-1,.mx-1{margin-right:.25rem!important}.mb-1,.my-1{margin-bottom:.25rem!important}.ml-1,.mx-1{margin-left:.25rem!important}.m-2{margin:.5rem!important}.mt-2,.my-2{margin-top:.5rem!important}.mr-2,.mx-2{margin-right:.5rem!important}.mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.pt-1,.py-1{padding-top:.25rem!important}.pr-1,.px-1{padding-right:.25rem!important}.pb-1,.py-1{padding-bottom:.25rem!important}.pl-1,.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.pt-2,.py-2{padding-top:.5rem!important}.pr-2,.px-2{padding-right:.5rem!important}.pb-2,.py-2{padding-bottom:.5rem!important}.pl-2,.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.m-auto{margin:auto!important}.mt-auto,.my-auto{margin-top:auto!important}.mr-auto,.mx-auto{margin-right:auto!important}.mb-auto,.my-auto{margin-bottom:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}